margin:0
padding:0

header{background-color: white;
    font-family:'Josefin Slab', serif;
    background-size: 100% 100%;2
    text-align: left;
    text-decoration-line: none;
    text-decoration-color: aliceblue;}