/*
The default style sheet for this site.
*/


/*Reset browser's own internal CSS stylesheet before reading this file. */


/**{
margin:0;
padding:0;
}*/

body {
    font-family: Basic Title, Ariel, Geneva, monospace;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: #5D6D7E ;
}

nav {
    background-color: #5D6D7E  ;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

li {
    list-style-type: none;
}

.nav-links:link {
    color: #FFF;
    text-decoration: none;
}

.nav-links:visited {
    color: #D6DBDF;
    text-decoration: none;
}

article {
    background-color: #FFF;
    padding-bottom: 20px;
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}

h1 {
    background-color: #FFF;
    color: #5D6D7E  ;
    font-family: Hero, "Futurist Fixed-width", "Futurist Fixed-width", Calibri, sans-serif;
    font-size: 2.1875em;
    padding: 15px;
}

h2 {
    background-color: #FFF;
    color: #5D6D7E  ;
    font-family: Hero, "Sharp Sans No1", "Sharp Sans No1";
    font-size: 1.75em;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    color: #4C4C4C;
    font-size: .9375em;
    padding: 20px;
}
