/*
The default style sheet for the entire site.
*/


/*Reset browser's own internal CSS stylesheet before reading this file. */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0DFFCD;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: #0CD9E8;
    background-image: url("../img/title-background1.jpg");
    background-size: 100% 100%;
    min-height: 257px;
}
h1 {
    color: white;
    padding: 100px 0 0 40px;
}
h2 {
    color: white;
}

nav ul {
    background-color: #00AAFF;
    list-style-type: none;
    text-align: center;
}

nav li {
    color: white;
    display: inline-block;
    padding: 30px;
}

main {
    background-color: #0C65E8;
    min-height: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

figure {
    text-align: center;
}

figure img {
    height: auto;
    margin: 25px;
    margin-bottom: 10px;
    width: 80%;
}

figcaption {
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

footer {
    background-color: #0CD9E8;
    min-height: 50px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    display: inline-block;
    padding: 30px;
}
